{% extends 'base.html' %}
{% load static %}
{% block title %}Projeto Vida - Criar uma nova conta{% endblock title %}
{% block content %}

<main class="container">
    <section class="row">
        <div class="col-12 mx-auto bg-light vh-100 p-5">
            <div class="my-5">
                <h2 class="my-2">Evoluir conta para profisional</h2>
                <hr>
            </div>
            {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Informações atuais</h5>
                    <small>{{ request.user.nome }}</small>
                    <br>
                    <small>{{ request.user.email }}</small>
                </div>
            </div>
            <form action="" method="post" class="my-3" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="cpf">CPF</label>
                    <input value="{{ cpf_responsavel }}" name="cpf" id="cpf" type="text" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="CNPJ">CNPJ</label>
                    <input value="{{ cnpj }}" name="CNPJ" id="CNPJ" type="text" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="email">E-mail da ONG</label>
                    <input value="{{ email }}" name="email" id="email" type="email" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="nome">Nome da ONG</label>
                    <input value="{{ nome }}" name="nome" id="nome" type="text" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="logo">Logo da ONG - <small class="text-warning">Imagem que vai aparecer na tela inicial</small></label>
                    <input value="{{ logo }}" name="logo" id="logo" type="file" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="descricao">Conte-nos um pouco sobre sua ONG.</label>
                    <textarea name="descricao" id="descricao" class="form-control" cols="30" rows="5" style="resize: none;"></textarea>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button type="submit" class="btn btn-primary btn-md">Confirmar</button>
                </div>
            </form>
        </div>
    </section>
</main>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}