{% extends 'base.html' %}
{% block title %}
Projeto Vida - Login
{% endblock title %}
{% block content %}
<main class="container">
    <section class="row">
        <div class="col-12 mx-auto bg-light vh-100 p-5">
            <div class="mb-5">
                <h3>Projeto Vida - Login</h3>
                <small class="text-muted">Conecte-se para acessar todas as opções da plataforma.</small>
            </div>
            {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="email" class="email">E-mail</label>
                    <input type="email" id="email" value="{% if email %}{{email}}{% endif %}" name="email" placeholder="" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="password">Senha</label>
                    <input type="password" id="password" value="{% if password %}{{password}}{% endif %}" name="password" placeholder="" class="form-control">
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <button type="submit" class="btn btn-md btn-success">Conectar</button>
                    <a href="{% url 'registro' %}" class="text-decoration-none">Não tenho conta.</a>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock content %}