{% extends 'base.html' %}
{% load static %}
{% block title %}
Projeto Vida - ONGs para doações.
{% endblock title %}
{% block content %}
<main class="container">
    <section class="row">
        <div class="col-12 mx-auto bg-light h-100">
            <div class="d-flex align-items-center justify-content-between gap-1">
                <h1 class="my-2">Projeto Vida</h1>
                <a href="{% url 'index' %}" class="btn btn-md btn-primary text-uppercase">Voltar</a>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col-12 bg-light">
            <small class="fs-5 text-muted">Lista de ONGs para doações.</small>
            <div class="card-group my-4">
                {% for ong in ongs %}
                <div class="card d-flex align-items-center justify-content-center p-3">
                    <img src="/media/{{ ong.logo }}" alt="Logo da ONG {{ ong.nome }}" class="card-img-top w-25">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ ong.nome }}</h5>
                        <div class="d-flex mt-2">
                            <a href="https://wa.me/{{ong.telefone}}?text=Oi%2C+encontrei+o+site+do+Projeto+Vida+e+quero+realizar+uma+doa%C3%A7%C3%A3o.+Como+fa%C3%A7o%3F" target="_blank" class="btn btn-md btn-success d-flex align-items-center justify-content-center gap-2">Entrar em contato 
                                <i class="fa-brands fa-whatsapp fs-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/orgs.js' %}"></script>
{% endblock scripts %}